*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 62.5%;
    width: 100vw;
    height: 100vh;
}
/* Header */
header{
    background-color: rebeccapurple;
    font-size: 20px;
}

.nav-menu{
    background-color: royalblue;
    width:45%;
    position: relative;
    display: inline-block;
    left: 200px; bottom: 3px;
}

.nav-menu li{
    background-color: powderblue;
    width: 23%;
    display: inline-block;
    height: 20px;
}


.kpoplogo {
    width: 25%;
    height: 23px;
    display: inline-block;
    background-color: salmon;
}
/*---------------------------------*/
/* Main */
main{
    width: 100%;
}
.sidebar {
    min-height: 400px;
    width: 25%;
    display: inline-block;
}

.content {
    background-color: seagreen;
    width: 74.5%;
    min-height: 400px;
    display: inline-block;
}

footer{
    background-color: pink;
}